.form-contener
  %h2.form-contener__title Edit Comment
  =form_with model: [@tweet, @comment], class: "new", local: true do |f|
    .field
      =f.label :comment
      =f.text_area :comment, autofocus: true, rows: 5, cols: 50
    .actions
      =f.submit "send", class: "actions__btn"
      =link_to "BACK", :back, class: "actions__back"