.main-contener
  .food-contener
    =form_with url: tweets_path, method: :get, local: true do |f|
      =f.label :search
      =f.text_field :search ,class: "search-form"
    .food-title-contener
      .food-title-contener__title
        %p New Tweets
    %ul.tweets-list
      =render partial: "shared/tweets", collection: @tweets, as: :tweet
    =paginate @tweets