.show-contener
  =render "shared/sidebar"
  .food-contener
    .food-title-contener
      .food-title-contener__title
        %p New Tweets
    %ul.tweets-list
      =render partial: "shared/tweets", collection: @mytweets, as: :tweet
    =paginate @mytweets