.form-contener
  %h2.form-contener__title New Tweet
  =form_with model: @tweet, class: "form-contener__form", local: true do |f|
    .field
      =f.label :image
      =f.file_field :image, autofocus: true, autocomplete: "image"
    .field
      =f.label :food
      =f.text_area :food, autofocus: true, rows: 1, cols: 50, placeholder: "Up to 30 characters"
    .field
      =f.label :store
      =f.text_area :store, autofocus: true, rows: 1, cols: 50, placeholder: "Up to 30 characters"
    .field
      =f.label :price
      =f.text_area :price, autofocus: true, rows: 1, cols: 50, placeholder: "Up to 30 characters"
    .field
      =f.label :place_id
      =f.collection_select :place_id, Place.all, :id, :name
    .field
      =f.label :category_id
      =f.collection_select :category_id, Category.all, :id, :name
    .field
      =f.label :tweet
      =f.text_area :tweet, autofocus: true, rows: 5, cols: 50
    .actions
      =f.submit "SEND", class: "actions__send"
      =link_to "BACK", :back, class: "actions__back"
