.main-contener
  .DtlFood-contener
    .DtlFood-title-contener
    .DtlFood-contents-contener
      .DtlFood-image-section
        .DtlFood-image-section__main
          =image_tag @tweet.image.url, class: "image-section__main--size" 
      
      .DtlFood-detail-section
        .DelEdits-area
          =link_to edit_tweet_path, class: "DelEdits-area--edit" do
            =icon 'fas', 'pen-square'
          =link_to tweet_path, method: :delete, class: "DelEdits-area--delete" do
            =icon 'far', 'trash-alt'
        .DelFood-area
          .DelFood-area__store
            =@tweet.store
          .DelFood-area__name
            =@tweet.food
          .DelFood-area__price
            =@tweet.price
            %span.font-size 円
        .DelTweet-area
          =@tweet.tweet

        .DelContents-area
          .DelContents-area__contents
            -if user_signed_in? && @tweet.like_by?(current_user)
              =link_to tweet_likes_path(@tweet.id), class: "DelContents-area__contents--heart", method: :delete do
                =icon 'far', 'heart'
            -else
              =link_to tweet_likes_path(@tweet.id), class: "DelContents-area__contents--heart", method: :post do
                =icon 'far', 'heart'
            =icon 'far', 'bookmark', class: "DelContents-area__contents--bookmark"

    .DtlFood-CmtTil-contener
      .DtlFood-CmtTil-section
        %p Comment
    
    .DtlFood-CmtFom-contener
      -if user_signed_in?
        .DtlFood-CmtFom-section
          =form_with model:[@tweet, @comment], local: true do |f|
            .CmtFomField-area
              =f.label :comment
              =f.text_area :comment, rows: "5", cols: "50"
            .CmtFomAct-area
              =f.submit "send", class: "CmtFomAct-area__btn"

    .DtlFood-CmtContents-contener
      %ul.comments-list
        -@comments.each do |comment|
          %li.comment-post
            .DelFoCom-UserSection
              .DelFoCom-UserSection__detail
                =link_to (image_tag "#{comment.user.avater.url}", alt: "", class: "DelFoCom-UserSection__detail--size"), "/users/#{comment.user_id}"
                =link_to "#{@tweet.user.name}", "/users/#{@tweet.user_id}", class:"DelFoCom-UserSection__detail--font"
            .DelFoCom-TextSection
              .DelFoCom-TextSection__comment
                =comment.comment
              -if user_signed_in? && comment.user_id == current_user.id
                .DelFoCom-TextSection__edits
                  =link_to tweet_comment_path(comment.tweet_id, comment.id), method: :delete, class: "DelFoCom-TextSection__edits--delete" do
                    =icon 'fas', 'trash-alt'
                  =link_to edit_tweet_comment_path(comment.tweet_id, comment.id), class: "DelFoCom-TextSection__edits--edit" do
                    =icon 'fas', 'pen-square'


