.main-contener
  .food-contener
    .food-title-contener
      .food-title-contener__title
        %p New Tweets
    %ul.tweets-list
      =render partial: "shared/tweets", collection: @tweets, as: :tweet
    .food-more-contener
      =link_to "more", tweets_path

  .user-contener
    .user-title-contener
      .user-title-contener__title
        %p New Users
    %ul.users-list
      =render partial: "shared/users", collection: @users, as: :user
    .user-more-contener
      =link_to "more", users_path
    
  
