@import 'mixin/mixin'; 

.index-contener{
  margin: 2em auto;
  width: 50em;
  h2{
    @include font-size(2em,black);
    text-align: center;
    margin-top: 2em;
  }
  .tweets-contener{

    .tweet-contener{
      padding: 2em;
      margin: 1em;
      display: flex;
      @include tweet-image;

      .avater-contener{

        .avater-size{
          margin: 0 1em;
          @include avater;
        }
      }
      .contents-contener{
        width: 40em;
        text-align: center;

        &__user{
          display: flex;
          justify-content: space-between;

          .user-name{
            text-align: left;
            font-weight: bold;
            color: black;
            text-decoration: none;
          }
          .daytime{
            text-align: left;
            font-weight: bold;
          }
        }
        &__text{
          text-align: left;
          margin-bottom: 2em;
        }
        &__image{
          margin: 2em 0;
          .image-size{
            width: 2em;
            height: 2em;
            @include tweet-image;
          }
        }
        &__contents{
          display: flex;

          &--icon-font{
          }
        }
      }
    }
  }
  .tweets-contener{

    .tweet-contener{

      .avater-contener{

        .avater-size{
        }
        &__btn{
          text-align: center;
          margin-top: 1em;
        }
      }
      .contents-contener{
        &__user{
          .user-name{
          }
        }
        &__text{

        }
      }
    }
  }
}
.btn-box{
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 2em;
  right: 4em;

  &__tweet{
    @include btn(2em,white,3em,3em);
    margin-right: 1em;
  }
  &__mypage{
    @include btn(2em,white,3em,3em);
    
  }
}