.contener
  .user-contener
    .user-title-contener
      .user-title-contener__title
        %p Follower Users
    %ul.users-list
      =render partial: "shared/users", collection: @followers, as: :user
    =paginate @followers