.show-contener
  =render "shared/sidebar"
  .followTws-contener
    .followTws-title-contener
      .followTws-title-contener__title
        %p Followers Tweets
      %ul.followTws-list
        =render partial: "shared/tweets", collection: @followsTws, as: :tweet
     
 