.Sidebar-contener
  .Sidebar-user-section
    .UserAva-area
      .UserAva-area__detail
        =link_to (image_tag "#{@user.avater.url}", class: "UserAva-area__detail--size"), user_path(@user.id)
        =link_to "#{@user.name}", user_path(@user.id), class: "UserAva-area__detail--font"
      .UserAva-area__follow
        -if user_signed_in? && @user.id != current_user.id
          -if @user.followed_by?(current_user)
            =link_to "followed", user_relationship_path(@user.id), class: "profile-section__follow--font", method: :delete
          -else
            =link_to "follow", user_relationships_path(@user.id), class: "profile-section__follow--font", method: :post 
    .UserProf-area
      =@user.profile
    .UserFolw-area
      =link_to follows_user_path(@user.id), class: "UserFolw-area__follow" do
        follow:
        =@user.followings.count
      =link_to followers_user_path(@user.id), class: "UserFolw-area__follower" do
        follower:
        =@user.followers.count
    -if user_signed_in? && @user.id == current_user.id
      .UserEdit-area
        =link_to "プロフィールの編集", edit_user_path(@user.id), class: "UserEdit-area__edit"
    .UserTwt-area
      .UserTwt-area__title
        .UserTwt-area__title--font Tweet
      .UserTwt-area__link
        =link_to "#{@user.name}のTweet", mytweets_tweets_path(@user.id), class: "UserTwt-area__link--font"
        =link_to "いいねしたTweet", likes_tweets_path(@user.id), class: "UserTwt-area__link--font"
        =link_to "コメントしたTweet","#", class: "UserTwt-area__link--font"
          