%li.user-post
  =link_to "", user_path(user.id), class: "link-section" 
  .avater-section
    .avater-section__avater
      =link_to (image_tag "#{user.avater.url}", class: "avater-section__avater--size"), user_path(user.id)
      =link_to "#{user.name}", user_path(user.id), class: "avater-section__name"
    
  .profile-section
    .profile-section__follow
      -if user_signed_in? && user.id != current_user.id
        -if user.followed_by?(current_user)
          followed
        -else
          =link_to "follow", user_relationships_path(user.id), class: "profile-section__follow--font", method: :post 
    .profile-section__text
      =user.profile