
.header{
  margin-bottom: 2rem;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.header-left{
  
  &__title{
    
    &--font{
    font-size: 4rem;
    text-decoration: none;
    color: black;
    }
  }
}

.header-right{
  &__contents{
    margin-bottom: 1.5rem;

    &--place{
      margin-right: 2rem;
      color: black;
      background: lightskyblue;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--place:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
    &--category{
      margin-right: 2rem;
      color: black;
      background: palegreen;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--category:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
    &--tweet{
      margin-right: 2rem;
      color: black;
      background: navajowhite;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--tweet:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
    &--blog{
      margin-right: 2rem;
      color: black;
      background:lemonchiffon;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--blog:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
  }
  &__posts{
    margin-bottom: 2rem;

    &--tweet{
      color: black;
      background: navajowhite;
      padding: 0 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--tweet:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
  }
  &__user-contents{

    &--tweets{
      margin-right: 2rem;
      color: black;
      background: navajowhite;
      padding: 0 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--tweets:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }

    &--page{
      margin-right: 5rem;
      color: black;
      background: red;
      padding: 0 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--page:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
  }
}

.fotter{
  background-color: gainsboro;
  display: flex;
  padding: 0 2rem ;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  &__title{
    &--font{
      font-size: 2rem;
      text-decoration: none;
      color: black;
    }
  }
  &__button{
    &--sign{
      font-size: 1.2rem;
      margin: 2rem;
      color: black;
      background: white;
      padding:  0.5rem 1rem 0.5rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transition: .3s;
    }
    &--sign:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
  }
}
