.SignForm-title-contener{

  h2{@include heading_size;
  }
}

.field{
  margin: 5rem 0;
}

label[for="user_avater"] {
  padding: 0.5rem 2rem;
  background-color: $userFormBtnColor;
}

label[for="user_name"]{
  padding: 0.5rem 2.3rem;
  background: $userFormBtnColor;
}
#user_name{
  @include text_form_reset;
  @include selector_hover;
}
#user_name:hover{
  @include hover_hover;
}
#user_name:focus {
  @include form_focus;
  @include hover_hover;
}

label[for="user_profile"]{
  padding: 0.5rem 2.3rem;
  background: $userFormBtnColor;
}
#user_profile{
  @include text_form_reset;
  @include selector_hover;
}
#user_profile:hover{
  @include hover_hover;
}
#user_profile:focus {
  @include form_focus;
  @include hover_hover;
}

label[for="user_email"]{
  padding: 0.5rem 2.3rem;
  background: $userFormBtnColor;
}
#user_email{
  @include text_form_reset;
  @include selector_hover;
}
#user_email:hover{
  @include hover_hover;
}
#user_email:focus {
  @include form_focus;
  @include hover_hover;
}

label[for="user_password"]{
  padding: 0.5rem 2.3rem;
  background: $userFormBtnColor;
}
#user_password{
  @include text_form_reset;
  @include selector_hover;
}
#user_password:hover{
  @include hover_hover;
}
#user_password:focus {
  @include form_focus;
  @include hover_hover;
}

label[for="user_password_confirmation"]{
  padding: 0.5rem 2.3rem;
  background: $userFormBtnColor;
}
#user_password_confirmation{
  @include text_form_reset;
  @include selector_hover;
}
#user_password_confirmation:hover{
  @include hover_hover;
}
#user_password_confirmation:focus {
  @include form_focus;
  @include hover_hover;
}

.actions{
  display: flex;
  &__btn{
    background-color: $sendBtnColor;
    margin-right: 30rem;
    @include selector_hover;
    @include link_to_font;
  }
  &__btn:hover{
    @include hover_hover;
  }
  &__signbtn{
    color: $defFontcolor;
    background-color: $backBtnColor;
    @include selector_hover;
    @include link_to_font;
  }
  &__signbtn:hover{
    @include hover_hover;
  }
}
