// ボタンカラー
$defBtnColor:black;
$backBtnColor: white;
$categoryBtnColor: palegreen;
$followBtnColor: palevioletred;
$foodBtnColor: rgb(216, 145, 238);
$imageBtnColor: rgb(219, 113, 134);
$likeBtnColor: red;
$placeBtnColor: lightskyblue;
$priceBtnColor: rgb(243, 87, 87);
$sendBtnColor:coral;
$storeBtnColor: rgb(135, 250, 210);
$tweetBtnColor: navajowhite;
$userFormBtnColor: rgb(37, 158, 245);

// フォントカラー
$defFontcolor: black;

// ボーダーカラー
$defBordercolor: solid black;