@import './reset';
@import './mixin';
@import './variable';

// 以下を先に記述してしまうと、エラーが発生する。
@import './conteners';
@import 'font-awesome-sprockets';
@import 'font-awesome';


html {
  font-size: 62.5%;
}

body {
  position: relative;
  padding-bottom: 5rem;
  font-size: 1.6em;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}