.show-contener{
  display: flex;
}
.Sidebar-contener{
  margin: 0 0 0 1rem;
  border-right: solid black;
}

.Sidebar-user-section{
  
  width: 25rem;
  @include flexbox_between;
}

.UserAva-area{
  display: flex;

  &--size{
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    @include link_front;
    @include selector_hover;
  }
  &--font{
    margin: auto 0;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    @include link_front;
  }
}

.UserFolwBtn-area{
  margin: auto 0 auto 0;
  @include link_front;

  &--size{
    color: $defFontcolor;
    background: $followBtnColor;
    padding: 2rem 1rem 1rem 1rem;
    text-decoration: none;
    border-radius: 0 0 5% 5%;
    @include selector_hover;
    }
    &--size:hover{
      @include hover_hover;
    }
}


.followTws-contener{
  margin: 0 3rem 0 3rem;
}

.followTws-title-contener{

  &__title{
    @include heading_size;
  }
}

.followTws-list{
  @include flexbox_wrap;
}
