@import 'mixin/mixin';

.header{
  padding: 0 2rem 2rem 2rem ;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  &__title{
    
    &--font{
    font-size: 4rem;
    text-decoration: none;
    color: black;
    }
  }

  &__button{

    &--place{
      margin-right: 2rem;
      color: black;
      background: lightskyblue;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transform: .2s;
    }
    &--place:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
    &--category{
      margin-right: 2rem;
      color: black;
      backgroun: palegreen;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transform: .2s;
    }
    &--category:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
    &--tweet{
      margin-right: 2rem;
      color: black;
      background: navajowhite;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transform: .2s;
    }
    &--tweet:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
    &--blog{
      color: black;
      background:lemonchiffon;
      padding: 2rem 1rem 1rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transform: .2s;
    }
    &--blog:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
  }
}

.fotter{
  background-color: gainsboro;
  display: flex;
  padding: 0 2rem ;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  &__title{
    &--font{
      font-size: 2rem;
      text-decoration: none;
      color: black;
    }
  }
  &__button{
    &--sign{
      margin: 2rem;
      color: black;
      background: white;
      padding: 0 1rem 1.5rem 1rem;
      text-decoration: none;
      border-radius: 0 0 5% 5%;
      box-shadow: 5px 2px 2px gray;
      transform: .2s;
    }
    &--sign:hover{
      box-shadow: 10px 5px 5px gray;
      transform: translateY(-10px);
    }
  }
}