.contener{
  
  .sign-text{

  }
  .new{
    text-align: center;

    .field{
      margin: 2em auto;
      @include font-size(1em,black);

      #user_avater{
       @include textbox-size;
        
      }
      #user_name{
        @include textbox-size;
      }
      #user_profile{
        @include textbox-size;
        height: 5em;
        width: 40em;
      }
      .actions__btn{
        @include btn(2em,white,6em,3em);
        margin-bottom: 2em;
      }
    }
  }
}